<div class="message-container">
  <div class="single-message">
    Message from: <b><%= link_to message.user.username, message.user %></b> |
    <%= message.user.created_at.strftime("%Y/%m/%d at %R") %>
    <br>
    <%= message.content %>
  </div>
  <%= link_to "Comments", "#", class: "toggle_comments" %>
  <div class="comments-container">
    <%= render 'comments/list', comments: message.comments %>
    <%= render 'comments/new', message: message %>
  </div>
</div>