<div class="content-container">
  <div class="title">
    <h1>User info:</h1>
      Email: <b><%= @user.email %></b><br>
      Username: <b><%= @user.username %></b><br>
      Full name: <b><%= @user.full_name %></b><br>
      <%= link_to 'Invite', user_invite_path(@user) unless current_user.friend_with?(@user) %> |
      <%= link_to 'Block', user_block_path(@user) unless current_user.blocked?(@user) %>
    <br>
    <h2>User's messages:</h2>
  </div>

  <div class="content">
    <div class="messages-container">
      <% @messages.each do |message| %>
        <%= render 'messages/single', message: message %>
        <br>
      <% end %>
    </div>
  </div>
</div>
